<meta charset="UTF-8" />
<meta
  name="description"
  property="og:description"
  content="A database with information on the state of our biosphere"
/>
<meta
  name="keywords"
  content="HTML, CSS, JavaScript, Node, Express, ejs, Ecology, Database, Information, Global Ecological Crisis, api, Software, Development"
/>
<meta name="author" content="Alexander Schelchere" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>EcoDB</title>
