<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Fira+Code:400,600&display=swap');
      <% include ../partials/combinedStyles %>
    </style>
  </head>
  <body>
    <header>
      <h1>EcoDB</h1>
      <div id="nav-bar"></div>
    </header>
    <div id="root"></div>
    <script>
      <% include ../partials/combinedScripts %>
    </script>
  </body>
</html>
