class About {
  constructor() {
    // Create about page
    this.page = document.createElement("div");
    // add class names and id
    this.page.id = "about-page";
    this.page.classList.add("main-content", "hidden");
    // add inner html to the about page
    this.page.innerHTML = `
    <br>
    <br>
    <h3>View the source code for this project on <a href="https://github.com/Lexscher/ecodb/" target="_blank">GitHub</a>.</h3>
    <br>
    <!-- <p>Initially, <a href="https://www.alexanderschelchere.com/" target="_blank">Alexander</a> created this database to have D3 data vizualisations in an app called <a href="https://lexscher.github.io/eco-mmunity/" target="_blank">Eco-mmunity</a>, but it wasn't the right fit.</p> -->
    `;
  }
}
