class Home {
  constructor() {
    // Create the page
    this.page = document.createElement("div");
    // Give it a class name and id
    this.page.id = "home-page";
    this.page.classList.add("main-content");

    // Add inner html
    this.page.innerHTML = `
    <div class="description">
      <h4>A database of information about the state of our global environment.</h4>
    </div>
    <div class="versions">
      <ul>
        <li><code>v1.1</code> -> Basic webpage.</li>
        <li><code>v1.0</code> -> JSON Data on the usage of land across the globe.</li>
      </ul>
    </div>
    `;
  }
}
